

.header__header{
    display: flex;
    align-items: center;
    min-height: 3.38rem;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    max-width: 79.16rem;
    padding: 0rem 2.22rem;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 2.777rem;
}

.header__lists{
    display: flex;
}

.header__btn-sing {
    background-color: transparent;
}

.header__list{
    padding: 1.11rem;
    margin-right: 5px;
}

.header__list:last-child{
    margin-right: 0px;
}


.header__btn-sing{
    margin-right: 0.55rem;
    border: 1px solid #0000;
}

.header__logo{
    padding-right: 10px;
}

//burger

.header__burger{
    width: 30px;
    height: 18px;
    position: relative;
    cursor: pointer;
    padding: 15px 21px;
    display: none;
     span{
        display: block;
        width: 22px;
        height: 3px;
        border-radius: 4px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
     }
     &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 4px;
        background-color: #fff;
      }

      &::after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 4px;
        background-color: #fff;
      }
}

.item-menu{
    transition: 0.3s linear;
    display: inline-block;
    position: relative;
    color: #fff;
    &::before{
        content: '';
        width: 0%;
        height: 2px;
        background-color: rgba(240, 68, 81, 1);
        position: absolute;
        bottom: -1.11rem;
        left: 50%;
        transform: translate(-50%, 0%);
        transition: 0.3s linear;
        opacity: 1;
    }
    &:hover{
        transition: 0.3s linear;
        opacity: 0.75;
         &::before{
            width: 100%;
         }
    }
}

//media styles
@import './headerMedia.scss';


.header__version{
    display: none;
}

.body-menu-active{
     right: 0;
     &:before{
        content: '';
        left: -100%;
     }

     .header__version{
        display: flex;
    }
}
