@use "../utils/common/breakpoints.scss" as b;

@media (max-width: map-get(b.$breakpoints, "tablet")) {
  .container-info {
    display: none;
  }
  .page .slick-dots {
    display: none !important;
  }
  .title {
    font-size: 2rem;
    line-height: 3rem;
  }
  .massage-confirmation__title {
    font-size: 1rem;
  }
  .text-about {
    font-size: 0.777rem;
  }
}

@media (max-width: map-get(b.$breakpoints, "phoneLandscape")) {
  .container-wrapper {
    padding: 0rem 1.1rem;
  }
  .popup-card__container {
    padding: 0rem 1.1rem;
  }
  .massage-confirmation {
    width: 90%;
    padding: 1.388rem 1.388rem;
  }
}

@media (max-width: map-get(b.$breakpoints, "phone")) {
  .title {
    font-size: 1.333rem;
    line-height: 2rem;
  }
  .text-info {
    line-height: 1.0888rem;
  }
  .popup-card__info {
    font-size: 0.77rem;
  }
  .popup__close {
    right: 25px;
  }
  .massage-confirmation__title {
    font-size: 0.77rem;
  }
  .massage-confirmation__subtitle {
    font-size: 0.666rem;
  }
  .popup__container {
    transform: translate(0%, 0%);
  }
  .title {
    line-height: 1.4666rem;
  }
  .info-point {
    font-size: 0.777rem;
  }
  .paragraph-title {
    font-size: 1rem;
  }
  .title-list {
    font-size: 0.88rem;
  }
}
