@import "Null.scss";
@import "../utils/mixin.scss";
@import '../simpleBar/simplebar.css';
@import "../utils//animation.scss";

//fonts

@font-face {
  font-family: "Raleway";
  display: swap;
  src: url("../fonts/Releway/Raleway-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  display: swap;
  src: url("../fonts/Releway/Raleway-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  display: swap;
  src: url("../fonts/Releway/Raleway-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Releway";
  display: swap;
  src: url("../fonts/Releway/Raleway-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

//Teko

@font-face {
  display: swap;
  font-family: "Teko";
  src: url("../fonts/Teko/Teko-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Teko";
  display: swap;
  src: url("../fonts/Teko/Teko-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

//global style

body {
  font-family: "Raleway";
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.container {
  max-width: 74.7222rem;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.container-wrapper {
  max-width: 106.66rem;
  margin: 0 auto;
  width: 100%;
  display: flex;
  padding: 0rem 2.22rem;
  flex-direction: column;
  position: relative;
}

.button {
  padding: 1.1rem 1.94rem;
  text-align: center;
  border-radius: 0.83rem;
  line-height: 1.566rem;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  pointer-events: all;
}

.button-default {
  border: 1px solid #fff;
  background-color: #0000;
  transition: 0.3s linear;
  position: relative;
  display: inline-block;
  z-index: 1;
  &::before {
    content: "";
    display: block;
    width: 0%;
    height: 100%;
    background-color: rgba(240, 68, 81, 1);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s linear;
    border-radius: 0.83rem;
  }
  &:hover {
    border: 1px solid rgba(240, 68, 81, 1);
    transition: 0.3s linear;
    &::before {
      width: 100%;
    }
  }
}
.button-active {
  border: 1px solid rgba(240, 68, 81, 1);
  background-color: rgba(240, 68, 81, 1);
  box-shadow: 0px 0px 8px 4px rgba(240, 68, 81, 0.25);
  z-index: 1;
  transition: 0.3s linear;
  position: relative;
  display: inline-block;
  &::before {
    content: "";
    display: block;
    width: 0%;
    height: 100%;
    background-color: rgba(39, 41, 55, 1) !important;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s linear;
    border-radius: 0.83rem;
  }
  &:hover {
    transition: 0.3s linear;
    &::before {
      width: 100%;
    }
  }
}

.item-menu {
  line-height: 1.173rem;
  font-size: 1rem;
  a {
    color: #fff;
  }
}

.container-btns {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.text-info {
  line-height: 1.4em;
  opacity: 0.75;
  color: #fff;
}

.container-scroll-down {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-info {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  margin-bottom: 1.6666rem;
  height: 2.78rem;
}

.scroll-down {
  color: #fff;
  opacity: 0.75;
  background-color: #0000;
  line-height: 1.173em;
  position: relative;
  margin-bottom: 8px;
}

.icon-scroll-down {
  width: 24px;
  height: 24px;
}

.version {
  font-size: 0.8rem;
  line-height: 1.6em;
  color: #fff;
  display: flex;
  opacity: 0.75;
  align-items: center;
  position: absolute;
  top: 0;
  right: 2.33rem;
  padding: 20px 25px;
  &:after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../img/global-icon/icon-question-version.svg") center;
    position: relative;
    right: -10px;
  }
}

.img-fragment {
  position: absolute;
}

.title {
  font-size: 2.555rem;
  color: #fff;
  line-height: 3.833rem;
  font-weight: 600;
}

.text-about {
  font-size: 1rem;
  line-height: 1.5em;
  color: #fff;
  opacity: 0.75;
}

.title-list {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 700;
}

.effect-fon {
  display: block;
  width: 413px;
  height: 413px;
  background-color: #f04451;
  filter: blur(206.5px);
  opacity: 0.3;
  border-radius: 50%;
}

//swiper style

.page {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: auto;
}

.page-active {
  z-index: 20;
}

.page .slick-track {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.page .slick-list {
  overflow: hidden;
  min-height: 100%;
  max-width: 100%;
}

.screen {
  flex: 1 0 100%;
  position: relative;
  min-height: 0vh;
}

.page .slick-dots {
  position: absolute;
  top: 50%;
  left: 3.125%;
  transform: translate(0, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.page .slick-dots li:nth-child(10),
.page .slick-dots li:nth-child(11),
.page .slick-dots li:nth-child(12) {
  display: none;
}

.page .slick-dots li button {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.25);
  margin: 10px 0px;
  font-size: 0;
  border-radius: 50%;
  cursor: pointer;
}

.page .slick-dots .slick-active button {
  background-color: #fff;
}

//popup

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__container {
  max-width: 51.111rem;
  width: 100%;
  border-radius: 2.777rem;
  padding: 2.777rem 0rem;
  background-color: rgba(39, 41, 55, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateY(41px);
  box-shadow: 0px 0px 5px 0.5px rgba($color: #000000, $alpha: 0.5);
}

.popup-card__container {
  margin: 0 auto;
}

.popup-card__container {
  max-width: 79.16rem;
  padding: 0rem 2.22rem;
}

.active-popup {
  opacity: 1;
  visibility: visible;
}

.popup-card__explanation {
  background-color: #0000;
  border-radius: 0.83rem;
  border: 1px solid #fff;
  padding: 0.83rem;
  color: #fff;
  display: inline-block;
  backdrop-filter: blur(5px);
  margin: 2.22rem 3.27rem 0rem 3.27rem;
}

.popup-card__info {
  font-size: 1rem;
  line-height: 1.5em;
  text-align: center;
}

//animation for effect fon

.effect-fon {
  animation-name: animationBreath;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.effect_quickly {
  animation-duration: 7s;
}

.effect_slowly {
  animation-duration: 8s;
}

svg {
  fill: red;
}

.wrapper-service {
  width: 100%;
  display: flex;
}

.social-img {
  margin-right: 0.8333rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 10px;
  transition: 0.3s linear;
  &:last-child {
    margin-right: 0rem;
  }
  img {
    pointer-events: none;
  }
}

.choose-sign {
  font-size: 1rem;
  line-height: 1.173rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2.22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  &::before {
    content: "";
    display: block;
    width: 105px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1px;
    position: absolute;
    top: initial;
    left: 15px;
  }
  &::after {
    content: "";
    display: block;
    width: 105px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1px;
    position: absolute;
    top: initial;
    right: 15px;
  }
}

.form-field {
  padding: 0.833rem;
  width: 100%;
  border-radius: 0.833rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  color: #fff;
  &:focus + .form-placeholder {
    position: absolute;
    top: -6px;
    opacity: 1;
    left: 15px;
    font-size: 0.666rem;
    line-height: 1em;
    padding: 0px 3px;
    color: rgba(255, 255, 255, 1);
    transform: translateY(0%);
    z-index: 2;
    background-color: rgba(39, 41, 55, 1);
  }
}

.body-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2.22rem;
}

.wrapper-field {
  position: relative;
  display: flex;
  align-items: center;
}

.body-field {
  margin-bottom: 1.388rem;
}

.body-field:nth-child(2) {
  margin-bottom: 1.388rem;
}

.form-placeholder {
  position: absolute;
  top: 15px;
  opacity: 0.25;
  left: 15px;
  font-size: 1rem;
  line-height: 1em;
  color: rgba(255, 255, 255, 1);
  transform: translateY(0%);
  pointer-events: none;
}


.popup-text-info {
  color: #fff;
  font-size: 0.777rem;
  line-height: 1.5em;
  span {
    color: #f04451;
  }
}


.popup__close {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 26px;
  cursor: pointer;
  height: 26px;
  &::before {
    content: "";
    width: 24.51px;
    height: 1px;
    background-color: #fff;
    border-radius: 1.5px;
    transform: rotate(-135deg);
    position: absolute;
    top: 0;
    left: 0;
  }
  &::after {
    content: "";
    width: 24.51px;
    height: 1px;
    background-color: #fff;
    border-radius: 1.5px;
    transform: rotate(135deg);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.hide-value {
  cursor: pointer;
  position: absolute;
  right: 15px;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #fff;
  position: relative;
}

.active-checkBox {
  &::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.form-custom-checkbox {
  width: 20px;
  height: 20px;
  opacity: 0;
}

.form-question {
  display: flex;
  align-items: center;
}

.social-img:hover {
  transition: 0.3s linear;
  background-color: #f04451;
}

.social-img:active {
  transition: 0.3s linear;
  background-color: #f04451;
}

//massage about error

.massage-error {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  & > p {
    color: rgba(240, 68, 81, 1);
    font-size: 0.777rem;
    line-height: 1.5em;
    padding: 0px 0px 0px 26px;
    margin: 0px 0px 0px -26px;
    position: relative;
    max-width: 16.333rem;
    &::before {
      content: "";
      display: flex;
      justify-content: center;
      width: 20px;
      height: 20px;
      background: url("../img/global-icon/icon-wrong.svg") center no-repeat;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0%;
      cursor: pointer;
    }
  }
}


//styles for create dom elements js

.checking-code__input {
  width: 55px;
  height: 69px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #f04451;
  background-color: transparent;
  margin-right: 0.833rem;
  color: #fff;
  font-size: 1rem;
  &:last-child {
    margin-right: 0rem;
  }
}

.checking__body {
  margin-bottom: 0.8333rem;
}

.checking {
  margin-top: 1.944rem;
}

.checking__text {
  margin-bottom: 1.944rem;
}

.checking__repeat-call {
  margin-bottom: 1.944rem;
  text-align: right;
}

.checking__error {
  margin-bottom: 0.8333rem;
}

.checking-code__text {
  margin-bottom: 0.8333rem;
}

.checking__error {
  text-align: center;
}

.popup-body-active {
  margin-bottom: 0rem;
}

.checking__repeat-call {
  color: #f04451;
  opacity: 0.75;
  span {
    color: #fff;
  }
}

.checking__text {
  opacity: 0.75;
}

//popup confirmation

.massage-confirmation {
  position: absolute;
  top: 30px;
  left: 50%;
  max-width: 42.3333rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
  border-radius: 15px;
  color: #fff;
  padding: 1.388rem 1.9444rem;
  z-index: 25;
  transform: translate(-50%, 0%);
  backdrop-filter: blur(10px);
}

.massage-confirmation__title {
  font-size: 1.333rem;
  line-height: 1.172em;
  font-weight: normal;
}





.container-info-about {
  max-width: 76.9444rem;
  padding: 0rem 1.1111rem;
  width: 100%;
  background-color: rgb(63, 64, 75);
  max-height: 46.6666rem;
  height: 100%;
  border-radius: 1.388rem;
  overflow-y: auto;
}


.content-info-about {
  max-width: 51.1111rem;
  width: 100%;
  padding: 2.7777rem 0rem;
  color: #fff;
  display: flex;
  flex-direction: column;
   a{
    color: #fff;
   }
}

.paragraph-title{
  font-size: 1.333rem;
  line-height: 1.5em;
  font-weight: 700;
  margin-bottom: 1.388rem;
}

.info-list__body-paragraph{
  margin-bottom: 2.77rem;
}

.info-point{
  margin-bottom: 1.388rem;
  line-height: 1.5em;
   &:last-child{
     margin-bottom: 0rem;
   }
  span{
    margin-right: 5px;
  }
}

.info-list__list{
  margin-bottom: 1.388rem;
}

//scroll bar


.container-info-about .simplebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-info-about .simplebar-track {
  right: 10px;
  bottom: 0;
  max-width: 5px;
  max-height: 27.777rem;
  height: 100%;
  background-color: rgba($color: #fff, $alpha: 0.5);
  margin-top: 10.944rem;
}

.container-info-about .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  min-height: 27px;
  top: 2px;
  min-width: 5px;
  left: 0;
  bottom: 2px;
  background-color: #fff;
  opacity: 1;
}

.social-network {
  svg{
  fill: #FAFAFA;
  transition: 0.3s linear;
  &:hover {
    transition: 0.3s linear;
    fill: rgba(240, 68, 81, 1);
    transform: scale(1.2) rotate(-4deg);
    pointer-events:painted;
  }
 }
}

//media styles

@import "./media.scss";
