.contacts {
  width: 100%;
  background-color: #00010f;
}

.contacts__content {
  margin-top: 11.722rem;
  margin-bottom: 27.0555rem;
}

.contacts__effect {
  position: absolute;
  top: 18.4%;
  left: 24.791%;
}

.contacts__title {
  margin-bottom: 2.7777rem;
}

.contacts__text {
  margin-bottom: 0.833rem;
  font-size: 0.8888rem;
  line-height: 1.422rem;
  color: #a2a2b9;
  font-style: normal;
}

.contacts__link {
  display: inline-block;
  line-height: 1.44em;
  font-weight: 500;
  color: #fff;
  font-style: normal;
  margin-bottom: 1.9444rem;
}

.contacts__body-social-media {
  display: flex;
  a {
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}



//media styles

@import './contactsMedia.scss';