@use 'sass:math';

//adaptives size objects

$widthParent: 1920;
 $baseSize: 18;

@mixin adaptive-size($pcSize, $mobSize){
  $addSize: $pcSize - $mobSize;
   $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 767px){
      width: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 360px) / #{$widthParent}));
  }

  @media (min-width: 767px){
      width: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$widthParent}));
  }
}
