@keyframes animationBreath {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animationRound {
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(40deg);
  }
  30% {
    transform: rotate(80deg);
  }
  40% {
    transform: rotate(120deg);
  }
  50% {
    transform: rotate(140deg);
  }
  60% {
    transform: rotate(140deg);
  }
  70% {
    transform: rotate(120deg);
  }
  80% {
    transform: rotate(80deg);
  }
  90% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.statics {
  width: 100%;
  background-color: rgb(9, 11, 25);
  position: relative;
}

.statics__content {
  margin-top: 14.2rem;
  margin-bottom: 5.888rem;
  min-height: 31rem;
  position: relative;
}

.statics__content {
  display: flex;
}

.statics__container {
  padding: 0rem 2.22rem;
}

.statics__body {
  width: 100%;
  min-height: 100%;
}

.statics__fragments-info {
  width: 100%;
  min-height: 100%;
}

.statics__img {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.statics__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation-name: animationRound;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  animation-fill-mode: none;
}
@media (max-width: 767px) {
  .statics__img img {
    width: calc(386px + 234.6 * (100vw - 360px) / 1920);
  }
}
@media (min-width: 767px) {
  .statics__img img {
    width: calc(386px + 138 * 100vw / 1920);
  }
}

.statics__fragment {
  position: absolute;
  top: 0;
  left: 15%;
  width: 100%;
}
.statics__fragment img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.statics__item {
  position: absolute;
  color: #fff;
  z-index: 3;
}
.statics__item::after {
  content: "";
  display: block;
  background-color: rgb(240, 68, 81);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: 15px;
  animation-name: animationBreath;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.statics__quantity {
  font-size: 3.555rem;
  margin-bottom: 0.833rem;
  font-weight: 100;
  line-height: 3.12rem;
}

.statics__text {
  font-size: 1rem;
  opacity: 0.75;
  line-height: 1.5rem;
}

.statics__fragment-black-big {
  position: absolute;
  top: 89.3%;
  left: 68.02%;
}

.statics__fragment-white-big {
  position: absolute;
  top: 73.9%;
  left: 4.16%;
}

.statics__fragment-black-medium {
  position: absolute;
  top: 13.3%;
  left: 11.82%;
}

.statics__fragment-black-medium-two {
  position: absolute;
  top: 12.2%;
  left: 65.52%;
}

.statics__fragment-white-medium {
  position: absolute;
  top: 4.85%;
  left: 92.812%;
}

.statics__effect-top {
  position: absolute;
  top: 10.9%;
  left: 16.041%;
}

.statics__effect-bottom {
  position: absolute;
  bottom: -7.4%;
  left: 48.07%;
}

.statics__img-fragment1 {
  position: absolute;
  left: 50.937%;
  max-width: 100%;
  min-height: 100%;
}

.statics__img-fragment2 {
  position: absolute;
  left: 38.958%;
  max-width: 100%;
  min-height: 100%;
}

.statics__img-fragment3 {
  position: absolute;
  left: 26.9791%;
  max-width: 100%;
  min-height: 100%;
}

.statics__img-fragment4 {
  position: absolute;
  left: 15%;
  max-width: 100%;
  min-height: 100%;
}

.statics__users {
  position: absolute;
  top: 27.2%;
  left: 51.15%;
}
.statics__users::after {
  animation-duration: 6s;
}

.statics__prize {
  position: absolute;
  top: 69.7%;
  left: 42.525%;
}
.statics__prize::after {
  animation-duration: 5s;
}

.statics__match {
  position: absolute;
  top: 25.6%;
  left: 27.2%;
}
.statics__match::after {
  animation-duration: 4s;
}

.statics__tournament {
  position: absolute;
  top: 46.6%;
  left: 14.8%;
}
.statics__tournament::after {
  animation-duration: 3s;
}

@media (max-width: 60em) {
  .statics__fragment-black-medium,
  .statics__fragment-white-big,
  .statics__fragment-white-medium {
    display: none;
  }
  .statics__fragment-black-medium-two {
    top: 19.75%;
    left: 5.729%;
  }
  .statics__fragment-black-big {
    top: 85%;
    left: 72.29%;
  }
  .statics__effect-top {
    top: -21%;
    left: 46.56%;
  }
  .statics__effect-bottom {
    left: 4.1666%;
    top: initial;
    bottom: -16.25%;
  }
}
@media (max-width: 60em) and (max-width: 767px) {
  .statics__img img {
    width: calc(200px + 527 * (100vw - 360px) / 1920);
  }
}
@media (max-width: 60em) and (min-width: 767px) {
  .statics__img img {
    width: calc(200px + 310 * 100vw / 1920);
  }
}
@media (max-width: 60em) {
  .statics__content {
    min-height: 27.11rem;
    margin-top: 9.66rem;
    margin-bottom: 7.66rem;
  }
  .statics__img-fragment1 {
    position: absolute;
    left: 51.041%;
  }
  .statics__img-fragment2 {
    position: absolute;
    left: 35.41%;
  }
  .statics__img-fragment3 {
    position: absolute;
    left: 19.79%;
  }
  .statics__img-fragment4 {
    position: absolute;
    left: 4.16%;
  }
  .statics__prize {
    position: absolute;
    top: 498px;
    left: 38.54%;
  }
  .statics__tournament {
    position: absolute;
    top: 48.125%;
    left: 3.9%;
  }
  .statics__match {
    position: absolute;
    top: 24.375%;
    left: 20.2%;
  }
  .statics__users {
    position: absolute;
    top: 21.75%;
    left: 51.56%;
    max-width: 13rem;
  }
  .statics__img {
    left: 0%;
    top: 73px;
  }
}
@media (max-width: 40em) {
  .statics__img-fragment1 {
    top: 70.125%;
    left: 0%;
  }
  .statics__img-fragment2 {
    top: 51.375%;
    left: 0%;
  }
  .statics__img-fragment3 {
    top: 32.625%;
    left: 0%;
  }
  .statics__img-fragment4 {
    top: 13.25%;
    left: 0%;
  }
  .statics__img {
    display: block;
    top: 97.9%;
    left: 0%;
    transform: translate(0%, 0%);
    text-align: center;
  }
}
@media (max-width: 40em) and (max-width: 767px) {
  .statics__img img {
    width: calc(300px + 379.1 * (100vw - 360px) / 1920);
  }
}
@media (max-width: 40em) and (min-width: 767px) {
  .statics__img img {
    width: calc(300px + 223 * 100vw / 1920);
  }
}
@media (max-width: 40em) {
  .statics__fragments {
    display: flex;
  }
  .statics__tournament {
    position: absolute;
    top: 48.125%;
    left: -0.5%;
  }
  .statics__match {
    position: absolute;
    top: 24.375%;
    left: 1%;
  }
  .statics__item::after {
    content: "";
    display: block;
    background-color: rgb(240, 68, 81);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 0;
    position: absolute;
    top: 0px;
    left: -30px;
  }
  .statics__users {
    position: absolute;
    top: 21.75%;
    left: 2%;
    max-width: 9rem;
    top: 14.1%;
    left: 56.25%;
  }
  .statics__users::after {
    top: -8px;
  }
  .statics__prize {
    position: absolute;
    top: 37.5%;
    left: 19.68%;
  }
  .statics__prize::after {
    top: -3px;
  }
  .statics__match {
    position: absolute;
    top: 52.87%;
    left: 68.437%;
  }
  .statics__match:after {
    top: -6px;
  }
  .statics__tournament {
    position: absolute;
    top: 67.875%;
    left: 20%;
  }
  .statics__tournament::after {
    top: initial;
    bottom: 0px;
  }
  .statics__quantity {
    font-size: 2.66rem;
  }
  .statics__content {
    min-height: 29.166rem;
    margin-top: 6.166rem;
    margin-bottom: 9.3888rem;
  }
  .statics__fragment-black-medium-two {
    top: 20.125%;
    left: 92.18%;
  }
  .statics__fragment-black-big {
    top: 86.5%;
    left: 81.25%;
  }
  .statics__effect-bottom {
    top: 58.75%;
    left: 63.75%;
  }
  .statics__effect-top {
    top: -9.625%;
    left: -24.375%;
  }
}
@media (max-width: 22.5em) {
  .statics__img-fragment3,
  .statics__img-fragment4 {
    display: none;
  }
  .statics__users,
  .statics__prize,
  .statics__match,
  .statics__tournament {
    position: static;
  }
  .statics__img-fragment1 {
    position: absolute;
    top: 27.75%;
    left: 0;
    width: 100%;
    max-height: 100%;
  }
  .statics__img-fragment2 {
    position: absolute;
    top: 49.625%;
    left: 0;
    width: 100%;
    max-height: 100%;
  }
  .statics__fragments {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 151px;
  }
  .statics__content {
    min-height: auto;
  }
  .statics__item {
    margin-bottom: 1.38rem;
  }
  .statics__body {
    margin-top: 8.38rem;
    margin-bottom: 8.61rem;
  }
  .statics__content {
    display: contents;
    margin: 0;
  }
  .statics__img {
    left: 41.94%;
    top: 73.625%;
  }
}
@media (max-width: 22.5em) and (max-width: 767px) {
  .statics__img {
    width: calc(417px + 991.1 * (100vw - 360px) / 1920);
  }
}
@media (max-width: 22.5em) and (min-width: 767px) {
  .statics__img {
    width: calc(417px + 583 * 100vw / 1920);
  }
}
@media (max-width: 22.5em) {
  .statics__img img {
    width: 100%;
    height: 100%;
  }
  .statics__effect-top {
    top: -40.875%;
    left: -69.722%;
  }
  .statics__effect-bottom {
    top: 66.625%;
    left: 70.8333%;
  }
  .statics__fragment-black-big {
    top: 60.125%;
    left: 58.611%;
  }
  .statics__fragment-black-medium-two {
    top: 14.875%;
    left: 75.55%;
  }
}/*# sourceMappingURL=Statics.css.map */