//960px

@media (max-width: 60em) {
    .about__content {
      grid-template-columns: 1fr 0.8fr;
      margin-bottom: 2.86rem;
    }
    .about__image-main {
      top: initial;
      right: initial;
    }
    .about__container {
      margin-top: 15.27rem;
      margin-bottom: 10.83rem;
    }
  
    .about__image-main {
      transform: translate(-7%, 0%);
      width: 61.14%;
      height: 100%;
      top: inherit;
      right: initial;
      z-index: 0;
    }
    .about__block-left {
      padding-bottom: 0%;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .about__block-right {
      grid-column: 2;
    }
    .about__fragment {
      position: absolute;
      top: -31.511%;
      right: 51.04%;
    }
    .about__effect-bottom {
      bottom: -50%;
      left: 50%;
      transform: translate(50%, 0%);
    }
    .about__fragment-white-big {
      display: none;
    }
    .about__fragment-white-small {
      top: 19.5%;
      left: 5.72%;
    }
    .about__fragment-black-small {
      top: 23.375%;
      right: 18.33%;
      bottom: initial;
    }
    .about__fragment-black-big {
      display: none;
    }
    .about__fragment-black-medium {
      top: 84.75%;
      left: 15.83%;
    }
  }
  
  //640px
  
  @media (max-width: 40em) {
    .about__content {
      grid-template-columns: 1fr;
      grid-template-rows: 0fr 0fr;
    }
    .about__block-right {
      grid-column: 1;
    }
    .about__block-left {
      padding-bottom: 0%;
      position: static;
      grid-row: 2;
      grid-column: span 2;
    }
    .about__image-main {
      transform: translate(0%, -8%);
      width: 100%;
      height: initial;
      position: static;
    }
    .about__container {
      margin-top: 8.94rem;
      margin-bottom: 10.83rem;
    }
    .about__block-left {
      position: relative;
    }
    .about__block-right {
      max-width: 23.88rem;
      justify-self: flex-start;
    }
    .about__fragment {
      position: absolute;
      top: -27.47%;
      right: 3.33%;
    }
    .about__container {
      margin-bottom: 0rem;
    }
    .about__content {
      margin-bottom: 0rem;
    }
    .about__fragment-black-small {
      top: 10.5%;
      left: 37.5%;
      bottom: initial;
      right: initial;
    }
    .about__fragment-black-medium {
      top: 64.25%;
      left: 2.59%;
      bottom: initial;
    }
    .about__fragment-white-small {
      top: 18%;
      left: initial;
      right: 8.59%;
      transform: rotate(-90deg);
    }
    .about__effect-bottom {
      left: initial;
      bottom: 0;
      right: 0;
      transform: translate(50%, 50%);
    }
  }
  
  //360
  
  @media (max-width: 22.5em) {
    .about__image-main {
      transform: translate(0%, 0%);
    }
    .about__image-main {
      margin-top: 61px;
      min-width: 148.04%;
      max-height: 76.6%;
      transform: translate(-13%, 0%);
    }
    .about__fragment {
      position: absolute;
      top: -20.9%;
      right: -67%;
    }
    .about__fragment-black-medium {
      top: 65%;
      left: 0;
    }
    .about__fragment-black-small{
      top: 90.125%;
      left: 15.916%;
    }
    .about__fragment-white-small{
       display: none;
    }
    .about__fragment {
      position: absolute;
      bottom: -8%;
      right: -62%;
      top: initial;
    }
    .about__container {
      margin-top: 8.77rem;
     }
     .about__content {
      margin-bottom: 2.666rem;
    }
    .about__subtitle {
      font-size: 0.777rem;
    }
  }
  